body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #640000;
    background-image: url('imagenes/UST_logo_jpg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    color: #333;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    height: 1000%;
    background-image: url('imagenes/UST_logo_jpg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
    z-index: -1;
}
h1 {
    font-size: 4em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.video-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}
video {
    width: 30%;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}
video:hover {
    transform: scale(1.05);
}